.home-cards {
    float: left;
    margin: 10px 10px 10px 10px;
}

.mdl-card__supporting-text {
    display: block;
    overflow-y: auto;
    height: 400px;
}

.demo-card-square.mdl-card {
    /*width: 320px;
    height: 180px;*/
    width: 270px;
    height: 1px;
}

.demo-card-square > .mdl-card__title {
    color: #FDFEFE;
    background-color: rgb(0, 0, 0);
     /*background-color: #0f4958;*/
     /*background-color: #57ad3c;*/
}

.mdl-card__title {
    cursor: pointer;
    height: 70px;
}


.home--card__icon {
    padding-top: 2px;
    margin-right: 4px;
    
    color: #922B21;
}

.home--feature-list {
    list-style: none;
    padding-left: 0;
}

.home--feature-list__icon {
    float: left;
}

.home--feature-list__text {
    padding-top: 2px;
}

span.home--feature-list__text:before {
    content: '';
    padding-left: 4px;
}

@media all and (max-width: 1024px) {
  .desktop-only {
  display: none;
  }
}

@media (max-device-width: 1024px){
  .desktop-only {
  display: none;
  }
}
