@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: block;

  }
}


.mdl-layout-title {
  font-size: 17px;
  
}

.user-profile {
  margin-right: 10px;
}


.mdl-button-padding {
  padding-left: 20px;
}

.hide {
  display: none !important;
}

.mdl-navigation__link {
  cursor: pointer;
}

.mdl-navigation__link label {
  cursor: pointer;
}

.button-profile {
    display: inline-block;
    margin-right: -10px;
    border: 0px;
}
.profile-image {
    text-align: center;
    border-radius: 90%;
    width: 50px;
    margin-right: 0%;
    cursor: pointer;
    border: 2px solid #999999;
}

.mdl-badge[data-badge]:after{
  background:rgba(123,36,28, 1);
  }

@media all and (max-width: 1024px) {
  .desktop-only {
  display: none;
  }
}

@media (max-device-width: 1024px){
  .desktop-only {
  display: none;
  }
}
