<!--div class="mdl-card__title title container-title-details">
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1" [class.is-checked]="true">
      <input type="checkbox" id="switch-1" class="mdl-switch__input" [(ngModel)]="isOpen" (change)="onChange('autoapproved')">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>Auto Approved</span>
    </label>
        </div-->
<div class="mdl-card__title title container-title-details">
    <h2 class="mdl-card__title-text title-details">Claims List</h2>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-shadow--2dp"
         [class.mdl-cell--12-col]="!selectedNodeProperties">
        <!--div style="padding-bottom: 4px;">
            <button
                class="mdl-button mdl-js-button mdl-button--icon"
                (click)="onHomeClicked()">
                <i class="material-icons">home</i>
            </button>
        </div-->
        <div>
            <alfresco-datatable
            [data]="data"
            [actions]="true"
            (rowClick)="claimDetails($event)">
        </alfresco-datatable>
        </div>
    </div>   
</div>