          <!-- New Request Page -->
          <div>
              <table border=0 width=100%> <tr><td>
                  <img src="/images/InsuranceLogo.png" height="42" width="42">

              </td><td valign="center" nowrap>

                  <h5 *ngIf="!newpolicy">CREATE A NEW CLAIM</h5>
              
                  <h5 *ngIf="newpolicy">CREATE A NEW POLICY</h5>

            </td></tr></table>

            <activiti-start-form [processDefinitionId]="processDefinitionId"
                              [showRefreshButton]="false"
                              [showOutcomeButtons]="true"
                              (formLoaded)="onFormLoaded($event)"
                              (outcomeClick)="onOutcomeClick($event)">
            </activiti-start-form>
          </div>

